body {
  font-family: 'Segoe UI', sans-serif;
}

.brand {
  color: #e66b2d;
  font-weight: bold;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 420px;
}


.btn-login:hover {
  background-color: #e66b2d;
}

.text-orange {
  color: #e66b2d;
}


.overlay-content {
  max-width: 500px;
}

