body {
    font-family: 'Noto Sans';
    margin: 0;
    padding: 0;
    background-color: #fffef2;
    color: #36454F;
    box-sizing: border-box;
}


#wrapper{
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fffef2;

    width : 100%;
    padding: 4px;
    margin: 0;

    font-size: 16px;
    position: fixed;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    margin: 0px 12px 0px 12px;
}

.navbar li a {
    display: block;
    color: #36454F;
    font-family: 'Noto Sans';
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.logo-head{
    margin-left: 24px;
    font-size: 24px;
}

#hero{
    padding-top: 56px;
    padding : 56px 12px 12px 12px;
}

.hero-container{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    height: 90vh;
    
    margin: 4px 12px 4px 12px;

    
    border-radius: 24px;
    

    background-image: url("/images/hero_image.png");
    background-size:cover;
}

.hero-heading{
    margin-top: 72px;
    padding: 24px;
    font-size: 56px;
    font-weight: 500;
    color: #fffef2;
    text-align: center;
}

.hero-span{
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: lighter;
    font-size: 48px;
}


.featured-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.featured-head{
    margin: 36px;
    font-weight: bold;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.product-card{
   

    background-color: transparent;
    
    width: 24%; 
   

    padding:12px;
    margin:4px;


    border-radius: 8px;

    
    


}

.product-image{

    width: 100%;
   
    


}



.product-category{
    font-size: 12px;
    margin-top: 12px;
    color: grey;
    
    
}

.product-title{
    font-size: 16px;
    width: 100%;
    font-weight: bold;

}

.product-price{
    font-size: 16px;
    
 


}



.product-buy-btn{
    height: 32px;
    font-size: 16px;
    width: 100%;
    background-color: #36454F;
    color: #fffef2;

    border: 0px;
    border-radius: 4px;

    margin-bottom: 4px;

}

.categories-container{
    background-color: #fafaf5;

}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

}

.category-card{
    background-image: url("");
    border-radius: 12px;
    height: 40vh;
    width: 20%;
    margin: 12px;

    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    background-size: cover;
}

.category-card:hover{
    background-size: 120%; 
}

.category-head{
    padding: 12px;
    margin-bottom: 0px;

   color: #fffef2;
    background: linear-gradient(
        180deg,
        transparent 0%,
        rgba(10, 10, 10, 0.6) 40%,
        rgba(15, 15, 15, 0.8) 100%
    );
    border-radius: 12px;

}

.category-home{
    background-image: url("https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D");
    
}

.category-work{
    background-image: url("https://images.unsplash.com/photo-1623177623442-979c1e42c255?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aG9tZSUyMG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D");

}

.category-lightdecor{
    background-image: url("https://plus.unsplash.com/premium_photo-1669380425820-57bbbcc9f712?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bGFtcHN8ZW58MHx8MHx8fDA%3D");
    

}

.category-dinnerware{
    background-image: url("https://plus.unsplash.com/premium_photo-1714943972607-6c9eb56e9245?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

.category-smarthome{
    background-image: url("https://images.unsplash.com/photo-1495521821757-a1efb6729352?q=80&w=726&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}




.footer-container {
  background-color: #36454F;
  color: #F5F5F5;
  padding: 48px 24px;
  width: 100%;
  box-sizing: border-box;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
 
  padding-bottom: 50px;
}




.logo-column {
  display: flex;
}


.logo-wrapper {
  padding-right: 40px;
}

.logo-text {
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
}

.logo-tagline {
  margin-top: 10px;
  font-size: 16px;
  color: #D1D5DB;
  line-height: 24px;
  max-width: 350px;
}


.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 16px;
}

.footer-links a {
  color: #D1D5DB;
 
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 4px 0;
}

.footer-links a:hover {
  color: #FFFFFF;
  
  
}


.footer-bottom {
  border-top: 1px solid grey;
  padding: 25px 0;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}


.copyright {
  font-size: 14px;
  color: #9CA3AF;
  margin: 0;
}


.legal-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.legal-links a {
  color: #D1D5DB;
  text-decoration: none;
  font-size: 14px;
  
}

.legal-links a:hover {
  color: #FFFFFF;
}

.separator {
  color: #6B7280;
  font-size: 14px;
}

.footer-links a::after {
  
  background-color: #FFFFFF;
  
}

.footer-links a:hover::after {
  width: 100%;
}