@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');

$color-primary: #fa6028;
$border: #e5e5e5;
$gray: #777;
$danger: #D90000;
$color-white: #ffffff;
$color-breadcrumb : #adb5bd;
$color-text-light: #6b7280;
$color-text-dark: #1f2937;
$color-footer-bg: #262626;
// $color-primary: #e3732d; 
$color-primary-dark: #c15817;
$font-heading: 'Space Grotesk', sans-serif;

body{
  font-family: $font-heading;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 90px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: $color-white;
    z-index: 1050; 


    &__logo {
        font-family: $font-heading;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__links {
        display: flex;
        gap: 30px;
        
        a {
            font-weight: 500;
            color: $color-text-light;
            &:hover, &.active { color: $color-text-dark; }
        }
    }

    &__icons {
        display: flex;
        gap: 20px;
        font-size: 1.1rem;
        cursor: pointer;
    }
}

.hero {
  // background: linear-gradient(#f3f3f3, #fff);
  background-color: #f0f0f0;
  padding: 40px 0;

  h1 {
    color: $color-primary;
    font-style: $font-heading;
    font-size: 36px;
  }

  p {
    font-style: $font-heading;
    color: $gray;
  }
}
.carousel-container{
  margin-bottom: 10px;
}
.breadcrumb-container{
  background-color: rgb(255,255,255);
  border-color: $color-breadcrumb;
  font-size: 20px;
  font-weight: bold;
}
.breadcrumb{
  a,span{
    color: $color-text-light;
    font-size: 30px;
  &:hover{
    color: $color-primary;
  }
}
}
.filter-container{
  position:sticky;
  top: 30px;
  bottom: 0px;
}

.filter-box {
  background: #fff;
  border: 1px solid $border;
  border-radius: 12px;
  padding: 20px;
  
  h5 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .filter-group {
    margin-bottom: 25px;

    h6 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    label {
      font-size: 25px;
      color: $gray;
    }
    .form-check{
      margin-bottom:16px;
      font-size: large;
      font-weight: bold;
    }
    
  }
}

.products-header {
  background: #fff;
  border: 1px solid $border;
  border-radius: 12px;
  padding: 15px 20px;
  font-family: $font-heading;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid $border;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  transition: transform 0.5s ease; 
    &:hover {
  transform: scale(1.1); 
    }

  }

  .discount {
    position: absolute;
    top: 15px;
    left: 15px;
    background: $danger;
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
  }

  .wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }

  .card-body {
    padding: 15px;

    h6 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .rating {
      color: #f5a623;
      font-size: 14px;

      span {
        color: $gray;
      }
    }

    .price {
      font-size: 18px;
      margin: 10px 0;

      span {
        text-decoration: line-through;
        color: $gray;
        font-size: 14px;
        margin-left: 8px;
      }
    }

    .add-cart {
      width: 100%;
      background: $color-primary;
      border-radius: 10px;
      padding: 10px;
      font-weight: 500;
    }
  }
}

.footer {
    background-color: $color-footer-bg;
    color: #d1d5db;
    padding: 50px 0 20px;

    .newsletter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;

        &__text {
            display: flex;
            align-items: center;
            gap: 15px;
            i { font-size: 2rem; color: $color-primary; }
            h4 { color: white; margin-bottom: 2px; }
            p { font-size: 0.9rem; }
        }

        &__form {
            display: flex;
            gap: 10px;
            
            input {
                padding: 10px 15px;
                border-radius: 4px;
                border: 1px solid #444;
                background: #333;
                color: white;
                width: 300px;
            }

            button {
                padding: 10px 20px;
                background-color: $color-primary;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-weight: 600;
                &:hover { background-color: $color-primary-dark; }
            }
        }
    }

    &__divider {
        border: 0;
        border-top: 1px solid #444;
        margin-bottom: 40px;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 40px;

        .footer__col {
            flex: 1;
            min-width: 200px;
            
        
            h3 { 
                color: white; 
                margin-bottom: 20px; 
                font-size: 1.1rem; 
            }
            p { 
                font-size: 0.9rem;
                 color: #9ca3af;
             }
            
            ul li {
                margin-left: -24px;
                margin-bottom: 10px;
                a:hover { color: $color-primary; }
            }

            .social-icons {
                margin-top: 20px;
                display: flex;
                gap: 15px;
                a {
                    width: 35px; height: 35px;
                    background: #333;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    &:hover { background: $color-primary; color: #000; }
                }
            }
        }
    }

    &__bottom {
        border-top: 1px solid #333;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 0.85rem;
        color: #6b7280;
    }
}

